Activity5/clipboard.txt
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e63c7443.f31338","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":440,"y":100,"wires":[["db7c8124.f16c5"]]},{"id":"db7c8124.f16c5","type":"function","z":"b5d1af96.0416f8","name":"","func":"//Removes extra characters\nmessage = msg.payload;\nmessage = \"{\" + message.split(\"{\")[1];\nmessage = message.split(\"}\")[0] + \"}\";\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["e2ed174.9817768"]]},{"id":"e2ed174.9817768","type":"function","z":"b5d1af96.0416f8","name":"","func":"//Transforms the string in an object and prepares MQTT message\nvar obj = JSON.parse(msg.payload);\n\nvar field = \"field\" + obj.id;\nvar data = obj.value;\nmsg.topic = \"channels/1070801/publish/W2FL9S6JN3M1LGA5\";\nmsg.payload = field + \"=\" + data;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["d58bb627.3e594"]]},{"id":"aa8c16a3.1d2e88","type":"mqtt out","z":"b5d1af96.0416f8","name":"","topic":"","qos":"","retain":"","broker":"5f8d6e59.8654f8","x":450,"y":340,"wires":[]},{"id":"d58bb627.3e594","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":453,"y":280,"wires":[["aa8c16a3.1d2e88"]]},{"id":"5f8d6e59.8654f8","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]