Activity 4/Clipboard NodeRed.txt
[{"id":"1ea60132.d625af","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"796d81de.8b65e8","type":"mqtt out","z":"1ea60132.d625af","name":"","topic":"","qos":"","retain":"","broker":"5f8d6e59.8654f8","x":203,"y":600,"wires":[]},{"id":"486143ad.e903e4","type":"function","z":"1ea60132.d625af","name":"","func":"//Filters all non \"Publish Message\"\nvar strings = msg.payload.message.split(\" \")\nif(strings.includes(\"Publish\") && strings.includes(\"Message\")){\n    msg.payload = msg.payload.message;\n    return msg;\n}","outputs":1,"noerr":0,"x":203,"y":300,"wires":[["cc9c44c1.3ed9f8"]]},{"id":"4a9b914f.1ac5d8","type":"csv","z":"1ea60132.d625af","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"mid,srcip,srcport,dstip,dstport,protocol,length,message","skip":"1","x":203,"y":240,"wires":[["486143ad.e903e4"]]},{"id":"2866fbe6.4700bc","type":"file in","z":"1ea60132.d625af","name":"","filename":"/home/user/Desktop/Activity4/trafficFiltered.csv","format":"utf8","chunk":false,"sendError":false,"x":233,"y":180,"wires":[["4a9b914f.1ac5d8"]]},{"id":"f1c46c51.27ffa","type":"inject","z":"1ea60132.d625af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233,"y":120,"wires":[["2866fbe6.4700bc"]]},{"id":"cc9c44c1.3ed9f8","type":"function","z":"1ea60132.d625af","name":"","func":"//Filters all messages without one of these topics\n//Returning the associated value\n\nvar topics = [\"[factory/department1/section1/plc]\",\"[factory/department3/section3/plc]\",\"[factory/department1/section1/hydraulic_valve]\",\"[factory/department3/section3/hydraulic_valve]\"]\nvar strings = msg.payload.split(\" \")\n\nfor(var i=0; i<4; i++){\n    if(strings.includes(topics[i])){\n        msg.payload = strings[strings.length-1];\n        msg.topic = i;\n        msg.topicName = topics[i];\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":203,"y":360,"wires":[["a91bbeb5.1b002"]]},{"id":"a91bbeb5.1b002","type":"function","z":"1ea60132.d625af","name":"","func":"//Converts message from hex into string\nvar hex  = msg.payload.toString();\nvar str = '';\n\n//Hex --> String\nfor (var n = 0; n < hex.length; n += 2) {\n\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n}\n\n//String --> JS Object\nvar obj = JSON.parse(str);\nmsg.payload = obj.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":203,"y":420,"wires":[["9ce08724.a3194"]]},{"id":"9ce08724.a3194","type":"function","z":"1ea60132.d625af","name":"","func":"var data = msg.payload;\nvar field;\n\n//Send to the right field\nif (msg.topic === 0 || msg.topic == 1){\n    field = \"field1\";\n}\nelse{\n    field = \"field2\";\n}\n\n//Build MQTT publish message\nmsg.topic = \"channels/1066868/publish/G79F139TV93I1J1C\";\nmsg.payload = field + '=' + data;\nreturn msg;","outputs":1,"noerr":0,"x":203,"y":480,"wires":[["454308.e57b4cf8"]]},{"id":"454308.e57b4cf8","type":"delay","z":"1ea60132.d625af","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":213,"y":540,"wires":[["796d81de.8b65e8"]]},{"id":"5f8d6e59.8654f8","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]